
.dashboard h2, h3 {
    font-family: 'Francois One', sans-serif;
    margin: 0px;
}

.dashboard h2 {
    font-size: 20px;
}

.dashboard h3 {
    font-size:17px;
}

.start-button {
    background-color: #FC624D;
    border: none;
    display: block;
    color: white;
    margin: 40px auto;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: background-color .5s;
    width: 300px;
}

.start-button:hover { 
    background-color: #CA301B;
}

