.landing-header {
    background-color: #355C7D;
    color: white;
    padding: 100px;
    text-align: center;
}

.info {
    background-color: white;
    margin: 20px auto;
    padding: 50px;
    width: 60%;
}

.info p {
    /* letter-spacing: 1px; */
    margin-bottom: 30px;
}


.login-button {
    background-color: #FC624D;
    border: none;
    display: block;
    color: white;
    margin: 40px auto;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: background-color .5s;
    width: 300px;
}

.login-button:hover { 
    background-color: #CA301B;
}

.flag {
    display: block;
    height: 100px;
    margin: 0px auto;
    margin-bottom: 50px;
    width: 200px;
}

.map {
    display: block;
    height: 329px;
    margin: 0px auto;
    margin-top: 50px;
    width: 500px;
}