.question-container {
    background-color: white;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    width: 400px;
}




.question-container input[type=text] {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;

    text-align: center;
    width: 250px;
}



.croatian-question {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
}

.guess-button, .next-button {
    background-color: #FC624D;
    border: none;
    cursor:pointer;
    display: block;
    color: white;
    margin: 10px auto;
    outline:none;
    padding: 10px;
    transition: background-color .5s;
    width: 250px;
}


.guess-button:hover, .next-button:hover { 
    background-color: #CA301B;
}
.correct-response {
    color: #1AB5C9;
}



.checkmark, .incorrect {
    display: block;
    height: 50px;
    margin: 20px auto;
    width: 50px;
}